<div class="div-terapia mt-5  ">
  <div class="container-fluid" ng-init="init()">
    <div class="row mx-auto mb-2 mt-3">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link" href="#!principal"
            ><i class="material-icons-new  outline-arrow_back  "></i
          ></a>
        </li>

        <li class="nav-item">
          <a class="nav-link " ng-href="#!terapias/{{ terapia.idTerapia }}"
            >Calendario</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link active"
            ng-href="#!terapias/{{ terapia.idTerapia }}/ejercicios"
            >Ejercicios</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link " ng-href="#!terapias/{{ terapia.idTerapia }}/chat"
            >Chat</a
          >
        </li>
      </ul>
    </div>

    <div class="row mx-auto mb-1 mt-1">
      <div class="col-md-1 lg-1 mt-2 mb-1"></div>

      <div class="col-md-4 lg-5 mt-2 mb-5">
        <ul class="list-group">
          <div ng-repeat="e in terapia.ejerciciosTerapia">
            <li class="list-group-item bg-light mt-1 d-flex justify-content-between">
              
              {{ e.tituloEjercicio }}

              <button 
              class="btn btn-primary btn-sm btn-raised"
              ng-click="verEjercicio(e)"
            >Información</button>
            </li>
          </div>
        </ul>
      </div>
      <div class="col-md-4 lg-5 mt-2 mb-5">
        <div class="card " ng-show="infoEjercicio != null">
          <div class="card-header d-flex justify-content-between">
          
           <h5> <span class="badge badge-secondary"> {{infoEjercicio.titulo}}</span></h5>
          </div>
          <div class="card-body">
            <h5 class="card-title"></h5>
            <p class="card-text">
                {{infoEjercicio.descripcion}}
            </p>

          </div>
          <div class="card-footer text-muted">
              <p >Creado el día {{infoEjercicio.fechaCreacion | date: "dd/MM/yyyy h:mm a"}}</p>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
