<body class="bg-light">
  <div class="container mt-5">

      <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
          <li class="nav-item">
                <button type="button" class="btn btn-primary" ng-click="activarModoEditar()" ng-if="modoeditar == false">Editar</button>   
                <button type="button" class="btn btn-primary" ng-click="activarModoEditar()" ng-if="modoeditar == true">Volver</button>        
          </li>
          </li>
        </ul>
      </div>
      <div class="card-body">

        <div ng-if="modoeditar == false" >
                <div class="col-md-6 mb-3 ">
                    <h5 class="card-title">{{ejercicio.titulo}}</h5>
                    <p class="card-text">
                    {{ejercicio.descripcion}}
                    </p>
                 </div>
      </div>
      <div ng-if="modoeditar == true" >
        <form name="modificarEjercicioFor" ng-submit="guardarCambios()">
            <div class="row mx-auto">
                <div class="col-md-6 mb-3 ">
                    <div class="form-group">
                      <label for="tituloTerapia">Título</label>
                     <input
                      type="text"
                      class="form-control"
                      id="títuloTerapia"
                      ng-model="ejercicio.titulo"
                      name="tituloTerapia"
                      required
                      />
                </div>
          </div>
          </div>
          <div class="row mx-auto mb-3">
                <div class="col-md-10 mb-3  ">
                  <div class="form-group">
                    <label for="descripcionTerapia">Descripción del ejercicio</label>
                    <textarea
                      class="form-control"
                      id="descripcionTerapia"
                      type="text"
                      ,
                      name="descripcionTerapia"
                      ,
                      ng-model="ejercicio.descripcion"
                      rows="4"
                    ></textarea>
                  </div>
                </div>
              </div>
              <div class="row mx-auto mb-3">
                <div class="col-md-5 mb-2 "></div>
                <div class="col-md-4 mb-2 ">
                  <input
                    class="btn btn-outline-primary"
                    type="submit"
                    value="Guardar cambios"
                  />
                </div>
              </div>
              <div class="row mx-auto mb-3">
                  <div class="col-md-4 mb-2 mt-3 "></div>
                  <div class="col-md-4 mb-2 mt-3">
                    <div class="alert alert-success" ng-show="respuestaPeticion == true" role="alert">
                      Ejercicio modificado correctamente
                     
                    </div>
                    <div class="alert alert-warning" ng-show="respuestaPeticion == false" role="alert">
                      Ha habido un error
                     </div>
                  </div>
                  <div class="col-md-3 mb-2 mt-3 "></div>
              </div>
            </form>



      </div>
 
  </div>
</body>
